.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px ;
    .nav-logo {
        & > img {
            width: 150px;
            height: 84px;
            border-radius:10px ;
        }
    }
    .nav-list {
        display: flex;
        list-style-type: none;
        & > li {
            padding: 0 40px;
            font-weight: bold;
            font-size: 20px;
            & > a {
                text-decoration: none;
                color: #000;
            }
        }
        & > li:hover {
            & > a {
                color: darkblue;
            }
        }
    }
}
.nav {
    background-color: rgb(89, 116, 116);
}